doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/stylesmall.css')
    link(rel='stylesheet', href='/stylesheets/styleslarge.css')
  body
    block content
  body
    .wrapper
      block content2
      block content3
