@media screen and (max-width: 800px)  {

  .col-1 {width: 33.333%;}


  body {
    margin-left: 0%;
    margin-right: 0%;
  }

  .wrapper {
    padding-top: 93px;
  }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    
  .col-1 {width: 33.333%;}


  body {
    margin-left: 0%;
    margin-right: 0%;
  }

  .wrapper {
    padding-top: 93px;
  }

}
